@tailwind base;

@tailwind components;

@tailwind utilities;

.dark .prose a {
  @apply text-retrogreen green-glow transition-all duration-150;
}

.dark .prose a:hover {
  filter: brightness(1.5);
}

.nuxt-content h1 {
  @apply pink-glow font-h1;
}

.dark .nuxt-content h2 {
  @apply teal-glow text-retroteal font-h2;
  padding-top: 60px; margin-top: -60px;
}

.dark .nuxt-content h3 {
  @apply text-retroyellow yellow-glow font-h2;
  padding-top: 60px; margin-top: -60px;
}

.light .nuxt-content {
  @apply text-black;
}

.light .nuxt-content h2 {
  @apply text-infoblue font-h2;
  padding-top: 60px; margin-top: -60px;
}

.light .nuxt-content h3 {
  @apply font-h2 text-darkpurple;
  padding-top: 60px; margin-top: -60px;
}

.dark .toc-list.active a {
  @apply text-retroteal teal-glow !important;
}

.light .toc-list.active a {
  @apply text-infoblue !important;
}

.light .prose ul > li::before {
  background-color: black;
}

.light .prose blockquote {
  border-left-color: black;
}

.light .prose blockquote {
  @apply text-darkblue;
}

.nuxt-content-editor {
  color: black !important;
}

.prose code::before {
  content: none !important;
}

.prose code::after {
  content: none !important;
}